body {
    background-color: var(--c-grey7);
    align-content: center;
    color: var(--c-white);
}

.title {
    font-size: 4rem;
    text-align: center;
}

.container {
    background-color: var(--c-grey6);
    width: 400px;
    margin: auto;
    padding: 100px 25px 25px;
    border-radius: 20px;
    border: 2px solid var(--c-grey3);
    box-shadow: 0px 0px 10px 0px var(--c-black);
}
