body {
    gap: 120px;
    padding: 80px 100px 60px;
}

.title {
    font-size: 4rem;
    text-align: center;
}

body > .container {
    background-color: var(--c-grey6);
    width: 400px;
    padding: 100px 25px 25px;
    border-radius: 20px;
    border: 2px solid var(--c-grey3);
    box-shadow: 0px 5px 50px var(--c-black);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    flex-grow: initial;

    & h2 {
        margin: 0px;
        text-align: center;
    }

    & .inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    & > p {
        color: var(--c-grey3);
        text-align: center;
        font-size: var(--fs-small);
        margin: 0px 40px;
    }
}

.user-icon {
    background-color: var(--c-primary-dark);
    border-radius: 50%;
    border: 2px solid var(--c-white);
    box-shadow: 0px 4px 20px -10px var(--c-white), 0px -10px 10px -4px var(--c-black);
    aspect-ratio: 1 / 1;
    width: 120px;
    position: absolute;
    top: -35px;
    left: calc(50% - 60px);
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center;

    & i {
        color: var(--c-white);
        font-size: 5.5rem;
    }
}
