
.container {
    max-height: 100vh;
    overflow: hidden;
}

.draft-title {text-align: center;}

main.draft-body {
    display: grid;
    grid-template-columns: 360px 1fr 360px;
    grid-template-rows: repeat(3, minmax(0px, 1fr));
    grid-template-areas:
        "ls main rs"
        "ls main rs"
        "ls main rs";
    /* grid-template-areas: "ls main main" "rs main main" ".  main main"; */
    /* grid-template-areas: "main main main" "ls ls ls" "rs rs rs"; */
    gap: 0px 150px;
    align-items: start;
    min-height: 0px;

    & section.sidebar {
        width: 360px;
        min-height: 0px;
        max-height: 100%;
        padding: 23px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: var(--c-grey6);
        border-radius: 15px;
        border: 2px solid var(--c-grey3);
        box-shadow: 0px 5px 25px var(--c-black);

        &.sidebar-left  {grid-area: ls;}
        &.sidebar-right {grid-area: rs;}

        & .sidebar-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        & .image-gallery {
            display: flex;
            flex-direction: column;
            gap: 10px;
            min-height: 0px;
            overflow-y: auto;
            margin-right: -20px;
            padding-right: 20px;

            & .gallery-item {
                cursor: pointer;
                display: grid;
                grid-template-columns: 64px 1fr auto;
                grid-template-rows: 48px;
                gap: 10px;
                align-items: center;
                color: var(--c-grey3);

                &.active {
                    color: var(--c-white);

                    & i {color: var(--c-white);}
                    & img {filter: none;}
                }

                & img {
                    height: 100%;
                    max-width: 64px;
                    border-radius: 5px;
                    justify-self: right;
                    align-self: center;
                    object-fit: cover;
                    filter: brightness(50%) saturate(80%);
                    transition: var(--transition);
                }

                & i {
                    color: var(--c-grey5);
                    transition: var(--transition);

                    &:hover {color: var(--c-white);}
                }
            }
        }
    }

    & section.main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        & .image-main {
            position: relative;
            align-self: center;

            & img {
                max-width: 100%;
                min-width: 80px;
                background-color: var(--c-grey6);
                border: none;
                height: 360px;
                object-fit: contain;
                border-radius: 15px;
                box-shadow: 0px 5px 25px var(--c-black);
            }

            & .image-icons {
                position: absolute;
                top: 10px;
                right: 15px;
                display: flex;
                flex-direction: row;
                gap: 10px;
            }
        }

        & .image-label {
            & h3 {margin-bottom: 10px;}
        }

        & .suggestions {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;

            & .suggestion-item {
                background-color: var(--c-primary-dark);
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                border: 2px solid var(--c-primary-light);
                box-shadow: 0px 4px 8px -4px var(--c-black);

                & .suggestion-index {color: var(--c-white);}
                & .suggestion-label {color: var(--c-black);}
            }
        }
    }
}
