
header {
    position: sticky;
    top: 0px;
    padding-top: 40px;
    background-color: var(--c-grey8);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 9999;
}

nav {
    background-color: var(--c-grey7);
    color: var(--c-white);
    border: 2px solid var(--c-grey3);
    box-shadow: var(--shadow-lg);
    padding: 13px 38px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    white-space: nowrap;

    & .nav-logo img {height: 3rem;}

    & .nav-center {
        flex-grow: 1;
        display: flex;
        justify-content: center;

        & .nav-search {
            position: relative;
            max-width: 500px;
            flex-grow: 1;

            & .input-wrapper {
                box-shadow: var(--shadow-sm);
            }
        }
    }

    & .nav-user-dropdown {
        --menu-distance: 25px;
        --size: 30px;

        & .dropdown-trigger {
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;
        }
        
        & .nav-avatar {
            width: var(--size);
            height: var(--size);
            border-radius: 50%;
            box-shadow: var(--shadow-sm);
        }

        & .dropdown-menu {
            right: -40px;
        }
    }

    & .search-results {
        width: 100%;
    }

    /* & .dropdown .dropdown-trigger:hover:not(:focus-within) + .search-results {display: none;} */
}

@media (max-width: 600px) {
    header {padding-top: 20px;}
    nav {
        padding: 5px 15px;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        position: relative;

        & .nav-logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }

        & .nav-user-dropdown {
            --size: 24px;
            position: absolute;
            top:   calc((46px - var(--size)) / 2);
            right: 15px;

            & .dropdown-menu {
                right: -15px;
            }
        }

        & .nav-center {
            width: 100%;
            order: 99;
        }
    }
}
