
nav {
    background-color: var(--c-grey6);
    color: var(--c-white);
    border: 2px solid var(--c-grey3);
    box-shadow: 0px 5px 25px var(--c-black);
    /* position: sticky; */
    /* top: 0px; */
    padding: 13px 38px; /* subtracted 2px for border as there is no easy way to include inset border in CSS */
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;

    & .nav-center {
        flex-grow: 1;
        display: flex;
        justify-content: center;

        & .input-wrapper {
            max-width: 500px;
            flex-grow: 1;
            box-shadow: 0px 4px 8px -4px var(--c-black-50);
        }
    }

    & .nav-user-dropdown {
        --menu-distance: 25px;
        /* --menu-distance-total: 50px; */

        & .nav-avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            box-shadow: 0px 4px 8px -4px var(--c-black-50);
        }

        & .dropdown-menu {
            right: -40px;
        }
    }
}
