
header {
    position: sticky;
    top: 0px;
    padding-top: 40px;
    background-color: var(--c-grey7);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 9999;
}

nav {
    background-color: var(--c-grey6);
    color: var(--c-white);
    border: 2px solid var(--c-grey3);
    box-shadow: var(--shadow-lg);
    padding: 13px 38px; /* subtracted 2px for border as there is no easy way to include inset border in CSS */
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;

    & .nav-logo img {height: 50px;}

    & .nav-center {
        flex-grow: 1;
        display: flex;
        justify-content: center;

        & .nav-search {
            position: relative;
            max-width: 500px;
            flex-grow: 1;

            & .input-wrapper {
                box-shadow: var(--shadow-sm);
            }
        }
    }

    & .nav-user-dropdown {
        --menu-distance: 25px;
        
        & .nav-avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            box-shadow: var(--shadow-sm);
        }

        & .dropdown-menu {
            right: -40px;
        }
    }

    & .search-results {
        width: 100%;
    }

    & .dropdown .dropdown-trigger:hover:not(:focus-within) + .search-results {display: none;}
}
