
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700;800&display=swap');

:root {
    --c-primary:       #89BA8D;
    --c-primary-dark:  #74A57F;
    --c-primary-light: #9ECE9A;
    --c-accent:        #1191CC;

    --c-black: #0b0b0b;
    --c-grey7: #1b1b1b;
    --c-grey6: #2b2b2b;
    --c-grey5: #3b3b3b;
    --c-grey4: #808080;
    --c-grey3: #c6c6c6;
    --c-grey2: #d6d6d6;
    --c-grey1: #e6e6e6;
    --c-white: #f3f3f3;

    --fs-small: 0.8rem;
    --fs-medium: 1rem;
    --fs-large: 1.2rem;
    --fs-xlarge: 1.5rem;
}

* {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0px;
}

.hidden {display: none;}
.hidden-fixed {position: fixed; top: 0px; display: none;}

/* [x-data="container"] {
    background-color: red;
} */
