
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700;800&display=swap');

:root {
    --c-primary:       #89BA8D;
    --c-primary-dark:  #74A57F;
    --c-primary-light: #9ECE9A;
    --c-accent:        #1191CC;

    --c-black: #0b0b0b;
    --c-grey7: #1b1b1b;
    --c-grey6: #2b2b2b;
    --c-grey55: #333333;
    --c-grey5: #3b3b3b;
    --c-grey4: #808080;
    --c-grey3: #c6c6c6;
    --c-grey2: #d6d6d6;
    --c-grey1: #e6e6e6;
    --c-white: #f3f3f3;

    --fs-small: 0.8rem;
    --fs-medium: 1rem;
    --fs-large: 1.2rem;
    --fs-xlarge: 1.5rem;

    --transition: all 0.25s ease;
}

* {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    letter-spacing: 1%;
}

body {min-height: 100vh;}

.icon {cursor: pointer;}

.hidden {display: none;}
.hidden-fixed {position: fixed; top: 0px; display: none;}

a {
    color: var(--c-primary-light);
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    background-color: var(--c-grey55);
    border-radius: 5px;
    border-bottom: 2px solid transparent;

    &:has(:focus-within) {
        border-bottom: 2px solid var(--c-primary-light);
    }

    & input {
        padding: 15px 20px;
        padding-bottom: 13px;
        background-color: transparent;
        flex-grow: 1;
        border: none;
        color: var(--c-grey3);
        font-size: var(--fs-medium);

        &::placeholder {color: var(--c-grey4);}
        &:focus {outline: none;}
    }

    & .icon {
        width: 20px;
        text-align: center;
        color: var(--c-grey4);
        margin-right: 20px;
    }
}

button, .btn {
    background-color: var(--c-primary-dark);
    border: 2px solid var(--c-primary-light);
    color: var(--c-white);
    padding: 13px 18px;
    font-size: var(--fs-medium);
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition);
    box-shadow: 0px 4px 20px -15px var(--c-white);

    &:hover {
        box-shadow: 0px 4px 30px -20px var(--c-white);
        background-color: var(--c-primary);
    }
}
