
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700;800&display=swap');

:root {
    --c-primary:       #89BA8D;
    --c-primary-dark:  #74A57F;
    --c-primary-light: #9ECE9A;
    --c-accent:        #1191CC;

    --c-black: #0b0b0b;
    --c-grey7: #1b1b1b;
    --c-grey6: #2b2b2b;
    --c-grey55: #333333;
    --c-grey5: #3b3b3b;
    --c-grey4: #808080;
    --c-grey3: #c6c6c6;
    --c-grey2: #d6d6d6;
    --c-grey1: #e6e6e6;
    --c-white: #f3f3f3;
    --c-black-50: #00000080;

    --fs-small: 0.8rem;
    --fs-medium: 1rem;
    --fs-large: 1.2rem;
    --fs-xlarge: 1.5rem;

    --transition: all 0.2s ease;
}

* {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    letter-spacing: 1%;
}

body {
    min-height: 100vh;
    background-color: var(--c-grey7);
    color: var(--c-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > .container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 40px 100px;
    gap: 60px;
}

.hidden {display: none;}
.hidden-fixed {position: fixed; top: 0px; display: none;}

a {
    color: var(--c-primary-light);
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    background-color: var(--c-grey55);
    border-radius: 5px;
    border-bottom: 2px solid transparent;
    overflow: hidden;
    transition: var(--transition);

    &:has(:focus-within) {
        border-bottom: 2px solid var(--c-primary-light);
    }

    & input {
        padding: 15px 20px;
        padding-bottom: 13px;
        background-color: transparent;
        flex-grow: 1;
        border: none;
        color: var(--c-grey3);
        font-size: var(--fs-medium);

        &::placeholder {color: var(--c-grey4);}
        &:focus {outline: none;}
    }

    & .icon {
        width: 20px;
        text-align: center;
        color: var(--c-grey4);
        margin-right: 20px;
        cursor: pointer;
    }
}

button, .btn {
    border: 2px solid var(--c-primary-light);
    text-decoration: none;
    padding: 13px 18px;
    font-size: var(--fs-medium);
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition);

    &.shadow {
        box-shadow: 0px 4px 20px -15px var(--c-white);
        &:hover {box-shadow: 0px 4px 30px -20px var(--c-white);}
    }

    &.btn-primary {
        background-color: var(--c-primary-dark);
        color: var(--c-white);
        &:hover {background-color: var(--c-primary);}
    }

    &.btn-secondary {
        background-color: var(--c-black-50);
        color: var(--c-primary-light);
        &:hover {background-color: var(--c-black);}
    }
}

h1 {
    font-size: 4rem;
    font-weight: 800;
}

h2 {
    font-size: 1.75rem;
    font-weight: 800;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.cards-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow-x: auto;

    & .card {
        width: 200px;
        height: 240px;
        border-radius: 15px;
        background-image: linear-gradient(to bottom, transparent, var(--c-black-50));
        border: 2px solid var(--c-grey3);
        padding: 13px; /* -2px for inset border */
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--c-grey6);
            z-index: -1;
        }
    }
}
