<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
        <script src="https://kit.fontawesome.com/cc609a1703.js" crossorigin="anonymous"></script>

        <link rel="shortcut-icon" href="{{ url_for('static', filename = 'img/favicon/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename = 'img/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename = 'img/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename = 'img/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename = 'img/favicon/site.webmanifest') }}">

        <title>Editting {{ title }} | recognify.</title>
    </head>
    <body>
        <h1 id="header">
            <a href="{{ url_for('index') }}" class="logo">
                <img src="{{ url_for('static', filename = 'img/logo.svg') }}" alt="<o>">
                <span>recognify.</span>
            </a>

            {% block header %}{% endblock %}
        </h1>

        {% block content %}{% endblock %}

        {% block scripts %}{% endblock %}
    </body>
</html>