{% extends "_template.html" %}

{% block header %}
    <div class="header_title">
        <span>Edit presentation -&nbsp;</span>
        <span id="title" title="{{ title }}">{{ title }}</span>
        <div class="title_input_parent">
            <input type="text" id="title_input" value="{{ title }}" class="title_input">
            <span id="size_callibration"></span>
        </div>
        <i class="fa-solid fa-pencil" id="edit_title" onclick="edit_title()"></i>
    </div>
{% endblock %}


{% block content %}
    <div id="content">
        <div class="sidebar">
            <h2>Images</h2>
            <ul id="previews">
                {% for image in range(images_count) %}
                    <li onclick="set_index('{{ image }}')">
                        <p>{{ image + 1}}</p>
                        <div class="img_preview">
                            <img src="{{ url_for('static', filename = 'img/question_mark.png') }}" alt="">
                        </div>
                        <label>{{ images[image].title }}</label>
                    </li>
                {% endfor %}
            </ul>
            <input type="hidden" id="images_count" value="{{ images_count }}">
        </div>


        <main>
            <div class="img">
                <img id="image" src="" alt="Loading image...">
            </div>

            <div class="controls">
                <button id="btn_l" class="light" onclick="move(-1)"><i class="fa-solid fa-caret-left"></i></button>

                <input type="text" id="text_input" placeholder="Describe the picture...">
                <button id="btn_accept" onclick="save_image_title()">Save</button>
                <button id="btn_delete" onclick="skip_image()      ">Skip</button>

                <button id="btn_r" class="light" onclick="move(+1)"><i class="fa-solid fa-caret-right"></i></button>
            </div>
            
            <div class="options"></div>
        </main>


        <div class="sidebar">
            <h2>Options</h2>

            <div class="form">
                <input type="checkbox" id="ignore_numbers" checked>
                <label for="ignore_numbers">Ignore numbers</label>

                <input type="checkbox" id="ignore_symbols" checked>
                <label for="ignore_symbols">Ignore symbols</label>

                <input type="checkbox" id="strip_whitespace" checked>
                <label for="strip_whitespace">Strip whitespace</label>

                <input type="checkbox" id="skip_links" checked>
                <label for="skip_links">Skip links</label>

                <input type="checkbox" id="split_symbols" checked>
                <label for="split_symbols">Split on symbols (,;:.-)</label>

                <input type="checkbox" id="split_brackets">
                <label for="split_brackets">Split brackets</label>

                <input type="checkbox" id="capitalize" checked>
                <label for="capitalize">Capitalize</label>
            </div>

            <button id="btn_save" class="light" onclick="submit()">Save</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename = 'cards.js') }}"></script>
    <script src="{{ url_for('static', filename = 'edit_title.js') }}"></script>
    <script>
        document.body.onload = () => {set_index(0);}

        function update_options(image_data) {
            let ignore_numbers   = document.getElementById("ignore_numbers"  ).checked;
            let ignore_symbols   = document.getElementById("ignore_symbols"  ).checked;
            let strip_whitespace = document.getElementById("strip_whitespace").checked;
            let skip_links       = document.getElementById("skip_links"      ).checked;
            let split_brackets   = document.getElementById("split_brackets"  ).checked;
            let capitalize       = document.getElementById("capitalize"      ).checked;

            options.innerHTML = image_data["options"].map((option) => {
        
                if (split_symbols) {
                    option = option.split(/\s*[,;:–><-=]+\s*/g).join("\n");
                }
        
                return option.split("\n").map(o => {
                    if (ignore_numbers)   {o = o.replace(/\d/g, "");}
                    if (strip_whitespace) {o = o.trim();}
                    if (skip_links)       {o = o.replace(/https?:\/\/[^\s]+/g, "");}
        
                    if (o.match(/^[\s.:;,–><=]*$/g)) return "";
                    if (capitalize) o = o[0].toUpperCase() + o.slice(1).toLowerCase();
                    return `<div class="option" title="${o}" onclick="save(this)">${o}</div>`;
                }).join("\n");
            }).join("\n");
        }

        function save_image_title(element = null) {
            if (element) text_input.value = element.title;
        
            data[index] = text_input.value;
        
            const label = document.getElementById("previews").children[index].querySelector("label");
            if (text_input.value) {
                label.innerText = text_input.value;
            } else {
                label.innerHTML = "<i class='fa-solid fa-xmark'></i>";
            }
        
            document.getElementById("previews").scrollTo(0, 40 * index - 100);
        
            text_input.blur();
        }
        
        
        
        function skip_image() {
            text_input.value = "";
            save_image_title();
        }
        
        
        
        function submit() {
            const xhr = new XMLHttpRequest();
        
            xhr.open("POST", `/set/${uuid}/save`, false);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        
            xhr.onload = () => {
                if (xhr.status == 200) {
                    window.location.href = "/";
                } else {
                    alert(`Error saving presentation: ${xhr.status} ${xhr.statusText}`);
                }
            };
        
            xhr.send("data=" + encodeURIComponent(JSON.stringify(data)));
        }

        
        
        document.addEventListener("keydown", (event) => {
            if (document.activeElement === text_input) {
                if (event.key === "Enter") {text_input.blur();}
                if (event.key === "Escape") {text_input.blur();}
            } else if (document.activeElement.tagName === "INPUT" || document.activeElement.tagName === "TEXTAREA") {
                return;
            } else {
                if (event.key === "ArrowRight") {move(+1);}
                if (event.key === "ArrowLeft" ) {move(-1);}

                if (event.key === ",") {skip_image();}
        
                if (!isNaN(+event.key) && parseInt(event.key) == parseFloat(event.key)) {
                    if (+event.key < document.querySelector(".options").children.length) {
                        save_image_title(document.querySelector(".options").children[+event.key]);

                        if (event.altKey) {
                            move(+1);
                        }
                    }
                }
        
                if (event.key === "Enter") {text_input.focus();}
            }
        });
    </script>
{% endblock %}