{% extends "_template.html" %}

{% block header %}Select a presentation{% endblock %}

{% block content %}
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Submit">
    </form>
    <a href="/clearall">Clear all</a>
    <ul>
        {% for presentation in presentations %}
            <li>
                <a href="/set/{{ presentation.uuid }}/edit">Edit</a>
                <a href="/set/{{ presentation.uuid }}/delete">Delete</a>
                <a href="/set/{{ presentation.uuid }}/play">Play</a>
                <span>{{ presentation.title }}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
