{% extends "base.html" %}

{% block content %}
    <div x-data="container">
        <h1>Welcome to Recognify</h1>
        <p>Sets:</p>
        <ul>
            {% for set in sets %}
                <li>
                    <a href="/set/{{ set.id }}">{{ set.name }}</a>
                </li>
            {% else %}
                <li>No sets available.</li>
            {% endfor %}
        </ul>
        <p>My drafts:</p>
        <ul>
            {% for draft in drafts %}
                <li>
                    <a href="/draft/{{ draft.id }}">Draft {{ draft.name }}</a>
                </li>
            {% else %}
                <li>No drafts available.</li>
            {% endfor %}
        </ul>
        {% if current_user.is_anonymous %}
            <a href="/auth/login">Login</a>
            <a href="/auth/signup">Sign up</a>
        {% else %}
            <a href="/auth/logout">Logout</a>
        {% endif %}

        {% if current_user.is_authenticated %}
            <a href="/set/new">Create a new set</a>
        {% endif %}

        {% if current_user.is_authenticated and current_user.is_admin() %}
            <a href="#" onclick="deleteAllSets();">Delete all sets</a>
            <a href="#" onclick="deleteAllDrafts();">Delete all drafts</a>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function deleteAllSets() {
            if (!confirm("Are you sure you want to delete all sets? This action cannot be undone.")) {return;}
            axios.delete('/api/set');
        }

        function deleteAllDrafts() {
            if (!confirm("Are you sure you want to delete all drafts? This action cannot be undone.")) {return;}
            axios.delete('/api/draft');
        }
    </script>
{% endblock %}
