<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "_head.html" %}
        <title>recognify.</title>
    </head>
    <body>
        <h1>Select a presentation</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Submit">
        </form>
        <a href="/clearall">Clear all</a>
        <ul>
            {% for presentation in presentations %}
                <li><a href="/edit/{{ presentation.uuid }}">{{ presentation.title }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>