
{#
Args:
  - popular_sets: list[Set] - List of popular sets to display.
  - drafts: list[Draft] - List of user's draft sets (if authenticated).
#}

{% extends "base.html" %}

{% block content %}
    <div x-data="container" class="container">
        {% include 'components/navigation.html' %}

        <section class="hero">
            <div class="hero-text">
                <h2>Learn to Recognize & Identify</h2>
                <p>
                    Recognify is a tool to help you learn to recognize and identify various subjects through spaced
                    repetition flashcards. Create your own sets of flashcards or explore existing ones to enhance your
                    learning experience.
                </p>
            </div>

            <div class="hero-buttons">
                <a href="/sets" class="btn btn-secondary">Browse Sets</a>
                {% if current_user.is_authenticated %}
                    <a href="/sets/new" class="btn btn-primary">Create a New Set</a>
                {% else %}
                    <a href="/auth/signup" class="btn btn-primary">Sign up for free</a>
                {% endif %}
            </div>
        </section>

        <section class="cards-section popular-sets">
            <h2>Popular sets</h2>
            <div class="cards-row">
                {% for set in popular_sets %}
                    <a href="/sets/{{ set.hid() }}" class="card">
                        <div class="card-image"></div>
                        <div class="card-body">
                            <h3>{{ set.name }}</h3>
                            <p>{{ set.description }}</p>
                        </div>
                    </a>
                {% else %}
                    <p>No popular sets available.</p>
                {% endfor %}
            </div>
        </section>

        {% if current_user.is_authenticated %}
            <section class="cards-section drafts-section">
                <h2>Your drafts</h2>
                <div class="cards-row">
                    {% for draft in drafts %}
                        <a href="/draft/{{ draft.hid() }}" class="card">
                            <div class="card-image"></div>
                            <div class="card-body">
                                <h3>{{ draft.name }}</h3>
                                <p>{{ draft.description }}</p>
                            </div>
                        </a>
                    {% else %}
                        <p>You have no drafts.</p>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('container', () => ({
                searchQuery: "",

                deleteAllSets() {
                    if (!confirm("Are you sure you want to delete all sets? This action cannot be undone.")) {return;}
                    axios.delete('/api/sets');
                },
                
                deleteAllDrafts() {
                    if (!confirm("Are you sure you want to delete all drafts? This action cannot be undone.")) {return;}
                    axios.delete('/api/draft');
                }
            }));
        });
    </script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
