{% extends "base.html" %}

{% block content %}
    <div x-data="container">
        {% include 'components/navigation.html' %}

        <h1>Not Implemented</h1>
        <p>This feature is not yet implemented. Please check back later.</p>
        <h2>Debug</h2>
        <ul>
            {% for key, value in data.items() %}
                <li><strong>{{ key }}:</strong> {{ value }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('container', () => ({
                data: JSON.parse('{{ data|tojson }}'),
            }));
        });
    </script>
{% endblock %}
