{% extends "_template.html" %}

{% block header %}{{ presentation.title }}{% endblock %}

{% block content %}
    <main>
        <div class="img">
            <img id="image" src="" alt="Loading image...">
        </div>

        <div class="controls">
            <button id="btn_l" class="light" onclick="move(-1)"><i class="fa-solid fa-caret-left"></i></button>
            <button id="btn_r" class="light" onclick="move(1)"><i class="fa-solid fa-caret-right"></i></button>
        </div>
    </main>

    <input type="hidden" id="images_count" value="{{ images|length }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename = 'cards.js') }}"></script>
    <script>
        document.body.onload = () => {set_index(0);};
    </script>
{% endblock %}