{% extends "_template.html" %}

{% block title %}Practising {{ presentation.title }}{% endblock %}

{% block header %}{{ presentation.title }}{% endblock %}

{% block content %}
    <main>
        <div class="img">
            <img id="image" src="" alt="Loading image..." onclick="click">
        </div>

        <div class="controls">
            <button id="btn_l" class="light" onclick="move(-1)"><i class="fas fa-caret-left"></i></button>
            <button class="light" onclick=""><i class="fas fa-check"></i></button>
            <button class="light" onclick=""><i class="fas fa-xmark"></i></button>
            <button id="btn_r" class="light" onclick="move(1)"><i class="fas fa-caret-right"></i></button>
        </div>
    </main>

    <input type="hidden" id="images_count" value="{{ images|length }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename = 'cards.js') }}"></script>
    <script>
        document.body.onload = () => {set_index(0);};

        function click(event) {
            //event.preventDefault(); // Prevent the context menu from opening
            if (event.button === 0) {
                console.log("Left button clicked");
            } else if (event.button === 2) {
                console.log("Right button clicked");
                // Add your logic for right button click here
            }
        }
    </script>
{% endblock %}
