{% extends "_template.html" %}

{% block title %}Practising {{ presentation.title }}{% endblock %}

{% block header %}{{ presentation.title }}{% endblock %}

{% block content %}
    <main>
        <div class="img">
            <p class="title hidden" id="title">_</p>
            <img id="image" src="" alt="Loading image..." oncontextmenu="return false;">
        </div>

        <div class="controls">
            <!-- <button id="btn_l" class="light" onclick="move(-1)"><i class="fas fa-caret-left"></i></button> -->
            <button class="light" onclick="wrong();  "><i class="fas fa-xmark"></i></button>
            <button class="light" onclick="correct();"><i class="fas fa-check"></i></button>
            <!-- <button id="btn_r" class="light" onclick="move(1)"><i class="fas fa-caret-right"></i></button> -->
        </div>
    </main>

    <input type="hidden" id="images_count" value="{{ images|length }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename = 'cards.js') }}"></script>

    <script>
        document.body.onload = () => {set_index(0);};
        const MOUSE_ONLY = true;
        let title = false;

        const _data = JSON.parse('{{ images|tojson|safe }}');
        const titles = Object.keys(_data).map(key => {return { id: key, value: _data[key] };});
        console.log(titles);
        
        shuffle(titles);

        function shuffle(array) {
            for (let i = array.length - 1; i > 0; i--) {
                // Generate a random index between 0 and i
                const j = Math.floor(Math.random() * (i + 1));
                // Swap elements at index i and j
                [array[i], array[j]] = [array[j], array[i]];
            }
        }

        function onclick(e) {
            e.preventDefault(); // Prevent the context menu from opening

            console.log("Clicked");

            if (!MOUSE_ONLY || !title) {
                flip();
                return;
            }

            if (e.button === 0) {
                wrong();
            } else if (e.button === 2) {
                correct();
            }
        }

        function flip() {
            title = !title;

            if (title) {
                document.getElementById("title").innerHTML = titles[index].value;
                document.getElementById("title").classList.remove("hidden");
            } else {
                document.getElementById("title").classList.add("hidden");
            }
        }

        function correct() {
            next();
        }

        function wrong() {
            next();
        }

        function next() {
            title = false;
            document.getElementById("title").classList.add("hidden");
            move(1);
            update_cards();
        }

        function update_cards() {
            console.log(titles[index]);
            let image_data = get_image_data(titles[index].id).image;
            image.src = `data:image/png;base64,${image_data}`;
        }

        document.getElementById("image").addEventListener("mousedown", onclick);

    </script>
{% endblock %}
