
<!-- 
Args:
- set: The set object
-->

{% extends "base.html" %}
{% from 'components/popup_message.html' import message_list %}

{% block content %}
    <div x-data="container" class="container" @keydown="onKeyDown($event)" tabindex="0">
        {% include 'components/navigation.html' %}

        <section class="info">
            <h2>{{ set.name }}</h2>
            <a href="/sets/{{ set.hid() }}">Back to set info</a>
        </section>
        
        {{ message_list(ref="popupMessages") }}

        <main>
            <section class="sidebar"></section>

            <section class="main">
                <div class="image-wrapper">
                    <p class="image-label" x-text="showLabel ? label : '?'"></p>

                    <div x-show="index < images.length" class="image-main" @mousedown.prevent="onKeyDown($event)" @contextmenu.prevent>
                        <img x-ref="image" :src="image" height="300">
                    </div>

                    <div x-show="index >= images.length" class="image-main">
                        <h2>Set completed!</h2>
                        <p>You got <span x-text="correct"></span> out of <span x-text="images.length"></span> correct.</p>
                        <a href="">Try again</a>
                    </div>
                </div>

                <div class="controls">
                    <button class="btn-primary" @click="turn()"><i class="fas fa-rotate-left"></i></button>
                    {% if current_user.is_authenticated %}
                        <button class="btn-primary" @click="know()" title="Click this if you are already sure with this, so we won't show you this image anymore."><i class="fas fa-lightbulb"></i></button>
                    {% else %}
                        <button class="btn-primary btn-disabled" @click="addMessage('error', 'Please log in to skip known images.')" title="Log in to be able to skip known images."><i class="fas fa-lightbulb"></i></button>
                    {% endif %}

                    <button class="btn-success" @click="nextImage(1)"><i class="fas fa-check"></i></button>
                    <button class="btn-error  " @click="nextImage(0)"><i class="fas fa-times"></i></button>
                </div>
            </section>

            <section class="sidebar options">
                <label for="mouse_controls">Enable mouse controls</label>
                <input type="checkbox" id="mouse_controls" x-model="mouseControls">

                <label for="keyboard_controls">Enable keyboard controls</label>
                <input type="checkbox" id="keyboard_controls" x-model="keyboardControls">
            </section>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('container', () => ({
                index: 0,
                image: '',
                label: '',
                images: JSON.parse('{{ get_data(set.images)|tojson }}'),
                correct: 0,
                showLabel: false,
                mouseControls: true,
                keyboardControls: true,

                init() {
                    this.shuffle(this.images);
                    this.loadImage();
                },

                shuffle(array) {
                    for (let i = array.length - 1; i > 0; i--) {
                        const j = Math.floor(Math.random() * (i + 1));
                        [array[i], array[j]] = [array[j], array[i]];
                    }
                    return array;
                },

                async loadImage() {
                    this.image = `/api/sets/{{ set.hid() }}/image/${this.images[this.index].id}`;
                    this.label = this.images[this.index].label;
                },

                nextImage(correct) {
                    this.correct += correct;
                    this.index += 1;
                    this.showLabel = false;
                    this.loadImage();
                },

                turn() {
                    this.showLabel = !this.showLabel;
                },

                async know() {
                    await axios.post(`/api/sets/{{ set.hid() }}/skip`, {
                        image_id: this.images[this.index].id,
                    });

                    this.nextImage(1);
                },

                onKeyDown(event) {
                    if (this.index >= this.images.length) {return;}

                    console.log(event.button, event.key);

                    if (this.mouseControls && event.button !== undefined) {
                        if (this.showLabel) {
                            if (event.button === 2) {
                                this.nextImage(1);
                            } else if (event.button === 0) {
                                this.nextImage(0);
                            } else {
                                this.turn();
                            }
                        } else {
                            this.turn();
                        }
                    } else if (this.keyboardControls && event.key !== undefined) {
                        if (event.key.length > 1) {return;}
                        
                        if (this.showLabel) {
                            if (event.key === 'ArrowRight') {
                                this.nextImage(1);
                            } else if (event.key === 'ArrowLeft') {
                                this.nextImage(0);
                            } else {
                                this.turn();
                            }
                        } else {
                            this.turn();
                        }
                    }

                    event.preventDefault();
                },

                addMessage(type, text, duration = 10) {
                    let id = crypto.randomUUID();
                    this.$dispatch('add-message', { id, type, text, duration: duration * 1000 });
                    return id;
                },

                removeMessage(id) {
                    this.$dispatch('remove-message', { id });
                },
            }));
        });
    </script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/draft.css') }}">
    <style>
        .image-label {
            background-color: var(--c-grey6);
            padding: 10px 20px;
            border-radius: 10px;
            box-shadow: var(--shadow-sm);
            border: 2px solid var(--c-grey3);
            text-align: center;
        }

        .image-wrapper {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 20px;
        }

        .controls {
            display: flex;
            justify-content: center;
            gap: 10px;

            & button {padding: 8px 23px;}

            & > :nth-child(2) {
                margin-right: 10px;
            }
        }
    </style>
{% endblock %}
