{% extends "base.html" %}

{% block content %}
    <div x-data="container">
        <h1>{{ set.name }}</h1>
        <p>Description: {{ set.description }}</p>
        <p>Created at: {{ set.created_at }}</p>
        <a href="/sets/{{ set.id }}/play">Play</a>
        {% if current_user.is_authenticated and current_user.id == set.owner_id %}
            <a href="/draft/{{ set.draft_id }}">Edit</a>
        {% endif %}

        <div>
            <template x-for="image in images" :key="image.id">
                <div style="margin-bottom: 20px;">
                    <p x-text="image.label"></p>
                    <img :src="`/api/sets/{{ set.id }}/image/${image.id}`" height="200">
                </div>
            </template>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('container', () => ({
                images: JSON.parse('{{ set.images|tojson }}'),
                is_author: +'{{ current_user.is_authenticated and current_user.id == set.owner_id }}',
            }));
        }); 
    </script>
{% endblock %}