
{% extends "auth/base.html" %}
{% from 'components/input.html' import input %}

{% block content %}
    <h1 class="title">Welcome to Recognify</h1>

    <div class="form-container" x-data="loginForm()">
        <div class="user-icon">
            <i class="fas fa-user"></i>
        </div>

        <h2>Log in</h2>

        <div class="inputs">
            {% call input(placeholder="Username", ref="username") %}{% endcall %}
            
            {% call input(placeholder="Password", ref="password", kw={":type": "showPassword ? 'text' : 'password'"}) %}
                <i @click="togglePassword()" class="icon fas" :class="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            {% endcall %}


            <p class="message error" x-text="message" x-show="message"></p>
        </div>
        
        <button class="btn-primary shadow" @click="submit()">Log in</button>
        
        <p>Don't have an account? Sign up <a href="/auth/signup">here</a> or&nbsp;<a href="/">continue as a guest</a></p>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function loginForm() {
            return {
                message: '{{ message }}',
                showPassword: false,
                togglePassword() {this.showPassword = !this.showPassword;},
                async submit() {
                    const username = this.$refs.username.value;
                    const password = this.$refs.password.value;
                    await axios.post('/auth/login', {username, password}).then(response => {
                        if (response.status === 200) {
                            window.location.href = '/';
                        } else {
                            this.message = response.data.message;
                        }
                    }).catch(error => {
                        this.message = error.response.data.message || 'An error occurred. Please try again.';
                    });
                }
            }
        }
    </script>
{% endblock %}
