
{% extends "auth/base.html" %}

{% block content %}
    <h1 class="title">Welcome to Recognify</h1>

    <div class="container" x-data="loginForm()">
        <div class="user-icon">
            <i class="fas fa-user"></i>
        </div>

        <h2>Log in</h2>

        <div class="inputs">
            <div class="input-wrapper">
                <input type="text" id="username" x-ref="username" placeholder="Username" required />
            </div>
            
            <div class="input-wrapper">
                <input :type="showPassword ? 'text' : 'password'" id="password" x-ref="password" placeholder="Password" required />
                <i @click="togglePassword()" class="icon fas" :class="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </div>
        </div>
        
        <button @click="submit()">Log in</button>
        
        <p>Don't have an account? Sign up <a href="/auth/signup">here</a> or&nbsp;<a href="/">continue as a guest</a></p>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function loginForm() {
            return {
                message: '{{ message }}',
                showPassword: false,
                togglePassword() {this.showPassword = !this.showPassword;},
                async submit() {
                    const username = this.$refs.username.value;
                    const password = this.$refs.password.value;
                    await axios.post('/auth/login', {username, password}).then(response => {
                        if (response.status === 200) {
                            window.location.href = '/';
                        } else {
                            this.message = response.data.message;
                        }
                    });
                }
            }
        }
    </script>
{% endblock %}
